<h1>Dogs For Adoption</h1>
  <% @dogs.each do |dog| %>
  <h3><%= dog.name %></h3>
  <p>Breed: <%= dog.breed %></p>
  <p>Age: <%= dog.age %></p>
  <p> <%= link_to "Adopt This Dog", adoption_form_path(dog) %></p>
  <% end %>
